<?xml version="1.0"?>
<config>
    <modules>
        <Kkraszy_WeatherModule>
            <version>0.1.0</version>
        </Kkraszy_WeatherModule>
    </modules>
    <global>
        <blocks>
            <kkraszy_weathermodule>
                <class>Kkraszy_WeatherModule_Block</class>
            </kkraszy_weathermodule>
        </blocks>
        <helpers>
            <kkraszy_weathermodule>
                <class>Kkraszy_WeatherModule_Helper</class>
            </kkraszy_weathermodule>
        </helpers>
        <resources>
            <weathermodule_setup>
                <setup>
                    <module>Kkraszy_WeatherModule</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </weathermodule_setup>
            <weathermodule_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </weathermodule_write>
            <weathermodule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </weathermodule_read>
        </resources>
        <models>
            <weathermodule>
                <class>Kkraszy_WeatherModule_Model</class>
                <resourceModel>weathermodule_mysql4</resourceModel>
            </weathermodule>
            <weathermodule_mysql4>
                <class>Kkraszy_WeatherModule_Model_Mysql4</class>
                <entities>
                    <weathermodule>
                        <table>weather_module</table>
                    </weathermodule>
                </entities>
            </weathermodule_mysql4>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Kkraszy_WeatherModule before="Mage_Adminhtml">Kkraszy_WeatherModule_Adminhtml</Kkraszy_WeatherModule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kkraszy_weathermodule>
                    <file>kkraszy/weathermodule.xml</file>
                </kkraszy_weathermodule>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <weathermodule>
                <use>standard</use>
                <args>
                    <module>Kkraszy_WeatherModule</module>
                    <frontName>weathermodule</frontName>
                </args>
            </weathermodule>
        </routers>
        <layout>
            <updates>
                <weathermodule>
                    <file>kkraszy/weathermodule.xml</file>
                </weathermodule>
            </updates>
        </layout>
         <translate>
            <modules>
                <kkraszy_weathermodule>
                    <files>
                        <default>Kkraszy_Weathermodule.csv</default>
                    </files>
                </kkraszy_weathermodule>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <kkraszy_weathermodule>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>weathermodule/observer::saveCurrentWeather</model>
                </run>
            </kkraszy_weathermodule>
        </jobs>
    </crontab>
</config>